.maxw45 {
    max-width: 45rem;
}

.carousel-control-prev-icon {
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png');
 }
 .carousel-control-next-icon {
   background-image: url('https://apufpel.com.br/assets/img/seta_ult.png');
 }


