<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>{{title}}</title>
<style>
.card {
	max-width: 40rem;
}
</style>
</head>
<body>
 <div class="container">
  <h1>{{title}}</h1>
  <p>
   For details visit <a href="https://www.ankijazz.com">AnkiJazz</a>
  </p>
  {{#cards}}
  <div class="card border-secondary mb-3">
   <h4 class="card-header">{{title}} ({{beatsPerMinute}} bpm)</h4>
   <div class="card-body">
    {{#media}}
    <div class="jtghidden jtg{{index}}">
     <img class="card-img-top" src="{{id}}.png">
    </div>
    {{/media}} {{#media}}
    <div class="jtghidden jtg{{index}}">
     <p class="card-text text-center">
      <audio controls src="{{id}}.mp3"></audio>
     </p>
    </div>
    {{/media}}
    <p class="card-text">Fields:</p>
    <ul>
     <li>Title: {{title}}</li>
     <li>BPM: {{beatsPerMinute}}</li>
     <li>Roots: {{roots}}</li>
    </ul>
   </div>
  </div>
  {{/cards}}
 </div>
 {{#isScriptRequired}}
 <script>
		(function() {
			var hidden = document.getElementsByClassName('jtghidden');
			Array.prototype.forEach.call(hidden, function(elem) {
				elem.style.display = "none";
			});
			var range = {{randomRange}};
			var date = new Date();
			var random = Math.floor((date.getMinutes() / 5 + date.getHours() + date.getDay()) % range);
			var hidden = document.getElementsByClassName('jtg' + random);
			Array.prototype.forEach.call(hidden, function(elem) {
				elem.style.display = "block";
			});
		})();
	</script>
 {{/isScriptRequired}}
</body>
</html>