<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{{title}}</title>
  <style>
    .card {
      max-width: 40rem;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>{{title}}</h1>
    <p>
      This deck contains chords and chord progressions commonly used in Jazz and other music styles. 
      For details visit <a href="https://www.ankijazz.com">AnkiJazz.com</a>
    </p>
    {{#cards}}
      <div class="card border-secondary mb-3">
        <h4 class="card-header">
          {{progression}} in {{key}}
          {{#withGuitar}}
          in {{position.label}} Position
          {{/withGuitar}}
        </h4>
        <div class="card-body">
          {{#withGuitar}}
          <p><img src="{{position.image}}"></p>
          {{/withGuitar}}
          <img class="card-img-top" src="{{pngName}}">
          <p class="card-text text-center">
            <audio controls src="{{mp3Name}}"></audio>
          </p>
          <p class="card-text">Fields:</p>
          <ul>
            <li>Progression: {{progression}}</li>
            <li>Type: {{type}}</li>
            <li>Key: {{key}}</li>
            <li>Style: {{style}}</li>
            <li>Tempo: {{tempo}}</li>
            <li>Difficulty: {{difficulty}}</li>
            {{#withGuitar}}
             <li>PositionLabel: {{position.label}}</li>
             <li>PositionImage: {{position.image}}</li>
            {{/withGuitar}}
          </ul>
        </div>
      </div>
    {{/cards}}
  </div>
</body>
</html>