<div>
  <p>
    Play <b>{{model.modeName}}</b> in <b>{{model.direction}}</b> Direction    
  </p>
</div>
--------------
<div><p><img src="{{pngName}}"></p></div>
<div><p>[sound:{{mp3Name}}]</p></div>
--------------
{{tags}}
