<hr />
<div class="jumbotron">
  <h2>{{model.modeName}} in {{model.direction}} Direction</h2>
  <div class="d-flex justify-content-center">
    <p>
      <img src="{{model.modeHtmlPng}}">
    </p>
  </div>
  <div class="d-flex justify-content-center">
    <p>
      <audio controls src="{{model.modeHtmlMp3}}"></audio>
    </p>
  </div>
  <div><p>Tags: {{tags}}</p></div>
</div>
