<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <h1>{{title}}</h1>
    <p>
      This deck contains the scales and modes that are most commonly used in Jazz. For details visit <a href="https://www.ankijazz.com">AnkiJazz</a>.
    </p>
    <p>
      Only a subset of cards is shown (the full deck contains more than 1100 cards).
    </p>
    {{#htmlCards}}
      {{{html}}}
    {{/htmlCards}}
  </div>
</body>
</html>