<div>
  <p>
    Play <b>{{model.modeName}}</b> in <b>{{model.direction}}</b> Direction    
  </p>
</div>
--------------
<div><p>{{{model.modeAnkiPng}}}</p></div>
<div><p>{{{model.modeAnkiMp3}}}</p></div>
--------------
{{tags}}
