<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{{id}}</title>
</head>
<body>
  <div class="container">
    <h1>AnkiJazz - Play Modes</h1>
    <p>
      This deck contains the scales and modes that are most commonly used in Jazz. 
    </p>
    <p>
      For details visit <a href="https://www.ankijazz.com">AnkiJazz</a>
    </p>
    {{#cards}}
      {{{html}}}
    {{/cards}}
  </div>
</body>
</html>