<div class="card mb-3">
	<h4 class="card-header">
		{{model.modeName}} in {{model.direction}} Direction {{position.label}} Position
	</h4>
	<div class="card-body">
    <p><img src="{{position.image}}"></p>
		<p><img class="card-img-top" src="{{model.modePng}}"></p>
		<p class="card-text">
			<audio controls src="{{model.modeMp3}}"></audio>
		</p>
		<p class="card-text">Tags: {{tags}}</p>
	</div>
</div>
