<div>
  <p>
    Play {{title}}    
  </p>
</div>
<div><p><img src="{{pngName}}"></p></div>
<div><p>[sound:{{metronomeMp3Name}}]</p></div>
--------------
<div><p>[sound:{{mp3Name}}]</p></div>
--------------
{{tags}}
