<div>
  <p>
    Play the following rhythm    
  </p>
</div>
<div><p><img src="{{model.rhythmPngName}}"></p></div>
<div><p>[sound:{{model.metronomeMp3Name}}]</p></div>
--------------
<div><p>[sound:{{model.rhythmMp3Name}}]</p></div>
--------------
{{tags}}
