<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <h1>{{title}}</h1>
    {{#cards}}
      {{{html}}}
    {{/cards}}
  </div>
</body>
</html>