<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{{id}}</title>
</head>
<body>
  <div class="container">
    <h1>About {{id}}</h1>
    <p>
      <a href="https://www.ankijazz.com">AnkiJazz</a> provides generated, high quality, and carefully reviewed (thanks to <a href="http://www.marcusarmani.de/">Marcus</a>) <a href="https://apps.ankiweb.net/">Anki</a> cards related to Music (and Jazz in particular) for free.
    </p>
    <p>
      This deck contains scales, their names, notation and sound.
    </p>
    <h2>About Scales</h2>
    <p>
      Because of the enharmonic equivalence of Gb and F#, both are notated and so this deck uses 13 different notations for the 12 keys. 
      Higher-order enharmonic equivalences are omitted.
    </p>
    <p>
      This deck contains the scales and modes that are most commonly used in Jazz. These are (in all 13 keys):
    </p>
    <ul>
      <li>Major Scale and all of its modes</li>
      <li>Harmonic Minor and its Phrygian Dominant mode</li>
      <li>Melodic Minor and its Lydian Dominant and Altered modes</li>
      <li>Half/Whole Diminished with its only Whole/Half Diminished mode</li>
      <li>Whole Tone Scale which has no modes</li>
      <li>Other scales and modes are omitted</li> 
    </ul>
    <p>
      Melodic Minor refers to "Jazz Melodic Minor", which means it is the same in both directions, ascending and descending. 
      In classical music, the descending melodic minor is the same as natural minor, but not in here (in Jazz).
    </p>

    <h2>About Variants</h2>
    <p>
      Multiple variants of this deck exist. The "Guitar" version contains 6 variants of every card:
    </p>
    <ul>
      <li>Play ascending in low fretboard position</li>
      <li>Play descending in low fretboard position</li>
      <li>Play ascending in medium fretboard position</li>
      <li>Play descending in medium fretboard position</li>
      <li>Play ascending in high fretboard position</li>
      <li>Play descending in high fretboard position</li>
    </ul>

    <h2>About Cards</h2>
    <h4>Ordering</h4>
    <p>
      Anki cards are ordered by difficulty, where difficulty is e.g. number of accidentals but also some other criteria. Make sure, you don't configure 
      Anki to show cards in random order (unless you really want to). BTW, the ordering contains some randomness, so some challenges may pop-up earlier than you'd expect.
    </p>
    <h4>Fields</h4>
    <p>As shown in the "Content" section below, several fields are provided which can be used to create "Filtered Decks". If, for example, you just want
    to practice Major Scales, you can create a filtered deck with the condition <code>ModeTypeName:"Major Scale"</code>.</p>
    
    <h2>About Key Signatures</h2>
    <h4>Modes of Major Scales</h4>
    <p>There are no agreed-upon rules as to which key signature to use on a scale like D-Dorian. Many sources on the internet recommend to 
       use the key signature of the <em>Parent Scale</em> C-Major because D-Dorian and C-Major share the same notes.
       But others, like the German "Jazz-Bible" <a href="https://en.schott-music.com/shop/jazz-harmony-no326750.html">Jazz Harmony by Frank Sikora</a> 
       recommend to</p>
    <ul>
      <li>notate all minor scales (including melodic minor, harmonic minor, dorinan, etc.) with the key signature of their 
          parallel natural minor (where "parallel" means: "same root", not to be mixed with "relative" which means: "same signature")</li>
      <li>notate all major scales (including dominant, lydian, altered, etc.) with the key signature of their parallel major scale</li>
    </ul>
    <p>
      In this deck, I notated a mode using the key signature of the major scale that the mode was derived from.
      To me it is more important to see what key-center I'm in, instead of being aware of how the current mode differs from its parallel minor/major.
      For example, if chords in a major II-V-I progression change quickly, I want to see whether all three modes share the same notes.
      Or in other words, for modes of the major scales, I chose a key signature that includes all necessary accidentals 
      so that no more "extra-accidentals" are needed within the notation (in front of individual notes).  
    </p>
    
    <h4>Modes of Melodic/Harmonic Minor</h4>
    <p> 
      For Melodic Minor and Harmonic Minor, this is not possible. 
      There is no key signature that contains all accidentals for these scales, some "extra-accidentals" are always required. 
      But we can minimize the number of "extra-accidentals", so that only a single "extra-accidental" will appear in the notation. In this deck:
    </p> 
    <ul>
      <li>
        Melodic Minor is notated with the key signature of its parallel Dorian scale. 
        In other words, Melodic Minor is notated as Dorian with a raised 7th (and that is the way I "see" Melodic Minor). 
        Note that this differs from the notation described in e.g. on <a href="https://en.wikipedia.org/wiki/Minor_scale#Key_signature">Wikipedia</a>
        which recommends to notate Melodic Minor with the key signature of its parallel Natural Minor scale.
      </li>
      <li>
        Harmonic Minor is notated with the key signature of its parallel Aeolean (Aeolean = Natural Minor) scale. 
        In other words, Harmonic Minor is notated as Aeolean with a raised 7th 
        which conforms to the notation described in e.g. <a href="https://en.wikipedia.org/wiki/Minor_scale#Key_signature">Wikipedia</a>.
      </li> 
    </ul>
    
    <h4>Symmetric Scales</h4>
    <p>Whole Tone scale and Diminished scales are notated in the key of C.</p>  
    
    <h4>Enharmonics</h4>
    <p>
      To identify the notes of a scale, a standard algorithm 
      (e.g. described by <a href="https://youtu.be/ICDPWP6HUbk?list=PLw9t0oA3fHkxx1PgYpiXrMUPXaOiwh6KU">Dr. B. Music</a> and many others) 
      was implemented to identify the notes of the "parent scales". 
      This led to the fact, that some notations contain enharmonics like E#, Fb, B#, Cb and even double flats (bb) and double sharps (x). 
      These were not "optimized away", because all attempts to "simplify" things by replacing enharmonics with something else turned out to make 
      things more complicate by adding more exceptions to the rules. 
    </p>
    
    <h2>About Me</h2>
    <p>TBD</p>
    
    <h1>Content of {{id}}</h1>
    {{#cards}}
      <hr />
      <div class="jumbotron">
        <h2>{{modeName}}</h2>
        <ul>
          <li>modeName: {{modeName}}</li>
          <li>modeTypeName: {{modeTypeName}}</li> 
          <li>modeRootName: {{modeRootName}}</li>
          <li>parentName: {{parentName}}</li>
          <li>parentTypeName: {{parentTypeName}}</li>
          <li>parentRootName: {{parentRootName}}</li>
          <li>notationKey: {{notationKey}}</li>
          <li>direction: {{direction}}</li>
        </ul>
        <div class="d-flex justify-content-center"><img src="{{modeHtmlPng}}"></img></div>
        <div class="d-flex justify-content-center"><audio controls src="{{modeHtmlMp3}}"></audio></div>
      </div>
    {{/cards}}
  </div>
</body>
</html>