<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <h1>{{title}}</h1>
    <p>
      This deck contains the setlist of Groovin-Nana band.
    </p>
    {{#cards}}
			<div class="card mb-3">
			  <h4 class="card-header">
			    Play <b>{{title}}</b>
			  </h4>
			  <div class="card-body">
			    <div class="card-text">
			      <div class="container">
			        <div class="row">
			          <div class="col"><audio controls src="{{mp3Name}}"></audio></div>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
    {{/cards}}
  </div>
</body>
</html>