<div class="container">

  <div class="hero-image">
    <div class="hero-text">
      <h1>AnkiJazz</h1>
      <h2><span class="hero-em">Practice</span> Jazz (and other styles) <span class="hero-em">efficiently</span> with
        Anki</h2>
      <!-- <h3 class="text-danger">This site is under construction</h3> -->
    </div>
  </div>

  <!-- About Section -->

  <div>
    <div class="jumbotron bg-light mt-3 pt-4 pb-3 mb-0">
      <h2>Overview</h2>
      <hr>
      <p>
        This website provides documentation for the completely free 
        <a href="https://apps.ankiweb.net/" target="_blank">Anki</a>
        decks that allow you to learn music-theory, scales, chords, rhythms, and more. 
        The decks are available for download on the <a href="https://ankiweb.net/shared/decks/ankijazz" target="_blank">AnkiWeb</a> website,
        no registration, no email, no cookies!
      </p>
      <p>
        <app-coffee what="them"></app-coffee>
      </p>
    </div>
    <div class="jumbotron bg-light mt-3 pt-4 pb-3 mb-0">
      <h2>Learn more in less time</h2>
      <hr>
      <p>
        You want to get better at playing your instrument? Then you have to practice! To practice means
        to learn by repetition. But when and how often should you repeat something to memorize quickly and long lasting?
        There are tons of recommendations for <a target="_blank"
          href="https://www.youtube.com/results?search_query=practice+schedule+guitar">practice schedules on
          Youtube</a>, but <a target="_blank" href="https://apps.ankiweb.net/">Anki</a> is different.
          Anki implements a so called <a target="_blank" href="https://en.wikipedia.org/wiki/Spaced_repetition"
          title="Spaced repetition">spaced repetition</a> learning method, which has been <a target="_blank"
          href="https://en.wikipedia.org/wiki/Evidence-based_education">shown by research</a> to be superior to other
        learning methods.
      </p>
      <h5>About Anki</h5>
      <p><a href="https://apps.ankiweb.net/" target="_blank">Anki</a> is a free and open source learning software platform, that
        allows you to learn almost anything using spaced repetition.
        Anki content is organized in cards and decks of cards.
        The front side of a card contains a question, and the back side contains the answer.
        First, you are presented with the question, then you think of the answer, next you compare your answer with the back side of the card,
        and finally you rate yourself: was my answer correct? Did I remember quickly or did it take too much time?
        Depending on your rating, you will be challenged with this card more or less often in the future.
      </p>
      <p>
        There is <em>much more</em> about Anki. 
        I will not try to explain everything here, there is the <a target="_blank" href="https://docs.ankiweb.net/">Anki Manual</a>
        and hundreds of videos on <a target="_blank" href="https://www.youtube.com/results?search_query=anki+tutorial">Youtube</a> 
        doing a much better job. 
      </p>
      <h5>About AnkiJazz</h5>
      <p>
        AnkiJazz (this site) provides musical content to Anki. 
        For example, the front side of a card may ask you to play the F-Major scale. 
        Then you play that scale on your instrument. 
        Next you open the back-side of the card which shows notation and plays audio of the correct F-Major scale. 
        Finally you rate yourself - was it correct? Did I play quickly or did it take too much time? 
        Depending on your rating, you will be challenged to play F-Major Scale more or less often in the future.
      </p>
    </div>
  </div>


  <!-- Decks Section-->
  <div>
    <div class="jumbotron bg-light mt-3 pt-4 pb-3 mb-0">
      <h2 class="heading">Anki-Decks - All Instruments</h2>
      <hr>
      <div class="row justify-content-center row-cols-1 row-cols-lg-2 row-cols-xl-4">

        <div class="col">
          <div class="card h-100">
            <h4 class="card-header">Scales</h4>
            <div class="card-body">
              <h6 class="card-title">Practice scales commonly used in Jazz, Rock, Pop</h6>
              <p class="card-text">
                Multiple decks with notation and audio to practice scales and modes with your instrument.
              </p>
              <a routerLink="/scales" class="card-link">Details</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <h4 class="card-header">Rhythms</h4>
            <div class="card-body">
              <h6 class="card-title">Practice notated rhythms</h6>
              <p class="card-text">
                Decks with notation and audio to practice notated rhythms. 
                Contains standard patterns like Claves, Bossa and others.
              </p>
              <a routerLink="/rhythm" class="card-link">Details</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <h4 class="card-header">Chords</h4>
            <div class="card-body">
              <h6 class="card-title">Practice chords notated in <a target="_blank" href="https://irealpro.com/">iReal</a> style</h6>
              <p class="card-text">
                Jamtracks to practice common chord types.
                Includes common progressions like II-V-I and Jazz-Blues.
              </p>
              <a routerLink="/comping" class="card-link">Details</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <h4 class="card-header">Theory</h4>
            <div class="card-body">
              <h6 class="card-title">Spell scales, modes and chords</h6>
              <p class="card-text">Small, mobile friendly deck to learn to spell scales, modal relationships, chords and more.
              </p>
              <a routerLink="/theory" class="card-link">Details</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="jumbotron bg-light mt-3 pt-4 pb-3 mb-0">
      <h2 class="heading">Anki-Decks - Guitar</h2>
      <hr>
      <div class="row  row-cols-1 row-cols-lg-2 row-cols-xl-4">

        <div class="col">
          <div class="card h-100">
            <h4 class="card-header">CAGED</h4>
            <div class="card-body">
              <h6 class="card-title">Learn Scales in CAGED Fingering</h6>
              <p class="card-text">
                Multiple decks with fretboard diagrams to learn, and jamtracks to practice the CAGED fingering for scales.
              </p>
              <a routerLink="/caged" class="card-link">Details</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <h4 class="card-header">Pentatonics</h4>
            <div class="card-body">
              <h6 class="card-title">Learn Pentatonic Scales</h6>
              <p class="card-text">
                Multiple decks with fretboard diagrams to learn, and jamtracks to practice the Minor7 and Minor6 Pentatonic Scales.
              </p>
              <a routerLink="/pentatonics" class="card-link">Details</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
